header {
  z-index: 999;
  width: 100%;
  .header {
    padding: 10px 25px;
  }
  #search {
      position: relative;
      font-size: 18px;
      padding-top: 40px;
      margin: -20px auto 0;
      width: 290px;
      label {
        position: absolute;
        left: 17px;
        top: 51px;
    }
    #search-input, #search .hint {
      padding-left: 43px;
      padding-right: 43px;
      border-radius: 23px;
    }
    .input-lg {
      height: 46px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
      border-radius: 6px;
    }
    .form-control {
      display: block;
      width: 100%;
      height: 48px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    #search-clear {
      text-decoration: none;
      position: absolute;
      right: 18px;
      top: 54px;
      color: #3E3F39;
    }
  }
}

.fa-caret-down {
  margin-top: 30px;
  margin-left: 6px;
}
.user-name {
  font-size: 16px;
  margin: 30px;
}
